.root{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: .8rem;
    color: #e0e0e0;
    color: #a7a5a5;
    

}
.root span{
    font-size: .8rem;
    font-family: 'Poppins';
    padding-left: .4rem;
}