.category_wrapper{
    margin-top: 1rem;
    /* background-color: yellowgreen; */
    /* height: 2rem; */
    overflow: hidden;
}
.category_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.category_items{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.category_item_parent{
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgrey;
    padding-left: .3rem;
}
.category_item_parent_title{
    display: flex;
    align-items: center;
    height: 2rem;
    /* background-color: yellow; */
    font-size: .8rem;
    font-weight: 600;
}
.category_item_children{
    /* width: 100%; */
    /* background-color: blue; */
}
.category_item_child{
    height: 36px;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
}
.category_item_child span{
    margin-left: .3rem;
}
.category_item_child:hover{
    background-color: gray;
}
.category_item_parent span, .category_item_child span{
    margin-left: .3rem;
    margin-right: auto;
    font-family: 'Poppins';
}